@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --cor-primaria: #254336;
    --cor-secundaria: #6B8A7A;
    --cor-terciaria: #B7B597;        
    --cor-hover: #DAD3BE;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0 0 0;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;    
    text-decoration: none;
    color: var(--cor-terciaria);           
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
    transition: 0.1s ease-in-out;            
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao{    
    margin: 10% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;    
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);    
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_subtitulo {
    font-family: 'Krona One', serif;
    font-weight: 400;
}

.apresentacao__links__link{    
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;    
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);    
    transition: 0.3s ease-in-out;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    bottom: 0;       
}

.contato__label__nome {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;    
}

.contato__inputs {
    width: 100%;
    height: 30px;
}

.contato__botao {
    margin-top: 10px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--cor-secundaria);
    font: var(--fonte-secundaria);
    font-weight: 400;
    font-family: var(--fonte-secundaria);
}

.contato__botao:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    transition: 0.2s ease-in-out;
}

.contato__mensagem__envio {
    margin-top: 10px;
}

@media (max-width: 700px) {
    .cabecalho {
        padding: 4% 0 0 0;
    }
    
    .cabecalho__menu {
        display: flex;        
        gap: 20px;
    }

    .cabecalho__menu__link {
        font-size: 0.75rem;    
    }

    .apresentacao__conteudo__titulo{
        font-size: 1rem;        
    }

    .apresentacao__conteudo__texto{
        font-size: 0.75rem;     
    }

    .apresentacao__links_subtitulo {
        font-size: 1rem;
    }

    .apresentacao__links__link {
        width: 185px;
        font-size: 1.25rem;        
    }

    .rodape {
        font-size: 1rem;
        bottom: 0;
        position: static;
    }

}